.content-meta {
  font-style: var(--codeFont);
  font-size: 0.85rem;
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 12px;

      &::after {
        content: ",";
      }
    }
  }
}
